* {
	margin: 0;
	padding: 0;
	font-family: "宋体";
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

header {
	width: 100%;
	min-height: 70px;
	height: auto;
	line-height: 70px;
}

#nav {
	width: 85%;
	margin: 0 auto;
}

#navleft {
	float: left;
}

#navleft img {
	max-width: 50%;
	height: auto;
	width: auto;
	vertical-align: middle;
}

#navright {
	float: right;
	margin-top: -40px;
}

#navright button {
	display: inline-block;
	width: 60px;
	height: 35px;
}

#navright button:nth-child(1) {
	background: forestgreen;
	color: white;
	border: 1px solid forestgreen;
}

#navright button:nth-child(2) {
	background: white;
	color: dodgerblue;
	border: 1px solid dodgerblue;
}

.jihe {
	display: none;
}

section {
	width: 100%;
	position: relative;
}

.d3xiaoguo {
	width: 60%;
	position: absolute;
	top: 30%;
	left: 10%;
	color: white;
	font-size: 2em;
}

.d3xiaoguo span {
	width: 100%;
	display: block;
	line-height: 4em;
}

#leftimg {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 12;
}

#leftimg img {
	margin-top: 250%;
}

#rightimg img {
	margin-top: 250%;
}

#rightimg {
	position: absolute;
	width: 10%;
	text-align: center;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 12;
}

#spandian {
	width: 30%;
	position: absolute;
	bottom: 5%;
	left: 47%;
	z-index: 12;
}

#spandian span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid dimgray;
	border-radius: 50%;
	margin-left: 10px;
}

section ul {
	width: 100%;
	height: 100%;
	list-style: none;
	overflow: hidden;
}

section ul li {
	width: 100%;
	height: 100%;
	transition: opacity 0.5s linear;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

section ul li img {
	max-width: 100%;
	width: auto;
	height: auto;
}
article {
	width: 100%;
}

#ar1 {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	color: dimgray;
	font-size: 1.5em;
}

#ar2 {
	width: 37%;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	color: #6D7F90;
	font-size: 1.2em;
}

#ar3 {
	width: 100%;
}

#ar3 ul {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3%;
}

#ar3 ul li {
	width: 25%;
	display: inline-block;
	list-style: none;
	float: left;
	line-height: 150%;
}

#ar3 img {
	width: 50%;
	text-align: center;
	margin-top: 25px;
}

#ar3 ul li div {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background: #F5F5F5;
	border-radius: 50%;
}

#ar3 ul li span {
	margin-top: 5%;
	display: block;
	text-align: center;
}

#ar3 ul li span:nth-child(2) {
	color: dimgray;
	font-size: 1.5em;
}

#ar3 ul li span:nth-child(3) {
	color: #6D7F90;
	font-size: 0.8em;
	text-align: left;
}

#first,
#second,
#third {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #6D7F90;
}

#first {
	padding-top: 40px;
	color: dimgray;
	font-size: 1.7em;
}

#third ul {
	width: 38%;
	margin: 0 auto;
}

#third ul li {
	list-style: none;
	float: left;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 10px;
	background: white;
}

.clearfix:after {
	visibility: hidden;
	zoom: 1;
	clear: both;
	height: 0;
	content: "";
	display: block;
}

#chanpin {
	width: 100%;
	background: #F5F5F5;
}

#chanpinzhanshi {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

#chanpinzhanshi img {
	width: 60%;
	margin-top: 3em;
}

#chanpinzhanshi span {
	display: inline-block;
	text-align: center;
	width: 24.5%;
	height: 20em;
	background: white;
	margin-bottom: 10px;
}

#chanpinzhanshi span div {
	width: 100%;
	margin-top: 5px;
	color: #6D7F90;
}

#chanpinzhanshi span div:nth-child(3) {
	color: red;
}

#blog {
	width: 75%;
	margin: 0 auto;
}

#blogzixun {
	width: 100%;
	text-align: center;
	margin-top: 60px;
	font-size: 2em;
	color: dimgray;
}

#blogtalk {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #6D7F90;
}

#xiangxizixun {
	width: 100%;
	margin-top: 20px;
}

#xiangxizixun img {
	max-width: 100%;
	width: auto;
	height: auto;
}

#xiangxizixun span {
	display: inline-block;
	width: 49%;
}

#xiangxizixun span div:first-child {
	width: 35%;
	float: left;
}

#xiangxizixun span div:nth-child(2) {
	width: 65%;
	float: left;
	text-align: left;
	color: dimgray;
}

#xiangxizixun span div:nth-child(2) div:nth-child(2) {
	margin-top: 10px;
	width: 100%;
}

#xiangxizixun span div:nth-child(2) div:nth-child(3) {
	width: 100%;
	color: #6D7F90;
}

#xiangxizixun span div:nth-child(2) div:nth-child(3) span {
	display: inline-block;
	margin-top: 10px;
	width: 20%;
}

#zhijinyu {
	width: 100%;
	background: #F5F5F5;
	padding-bottom: 40px;
	color: dimgray;
}

#zhijinyu div:first-child {
	padding-top: 20px;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

#zhijinyu div:nth-child(2) {
	text-align: center;
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
}

#zhijinyu div:nth-child(3) {
	width: 80%;
	margin: 0 auto;
	background: white;
	padding-bottom: 20px;
}

#zhijinyu div:nth-child(3) div:first-child {
	width: 95%;
	margin: 0 auto;
}

#zhijinyu div:nth-child(3) div:first-child img {
	width: 99%;
	margin: 0 auto;
}

#zhijinyu div:nth-child(3) div:nth-child(2) {
	width: 95%;
	margin: 0 auto;
	text-indent: 0em;
	text-align: left;
	line-height: 2em;
}

footer {
	width: 100%;
}

footer ul {
	list-style: none;
}

footer div:first-child {
	width: 90%;
	margin: 0 auto;
}

#foot {
	width: 100%;
	text-align: center;
	line-height: 2em;
	color: #6D7F90;
	font-size: 0.8em;
}

#footmess {
	width: 90%;
	margin: 0 auto;
	margin-top: -30px;
	margin-bottom: 50px;
}

#footmess h2 {
	color: dimgray;
}

#footmess ul {
	color: #6D7F90;
}

#footmess span {
	display: inline-block;
	width: 17%;
	margin-left: 2em;
	/*margin-top: 20px;*/
	/*padding-bottom: 60px;*/
	line-height: 1.6em;
}

#footmess span:last-child {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#footmess span:last-child span {
	display: inline-block;
	height: 26px;
	margin: 0;
	padding: 0;
}


/*大于1000px时的css*/

@media screen and (min-width:1000px) {
	#navright {
		display: block;
	}
	#navmid {
		float: right;
		width: 350px;
		display: block;
	}
	#navmid img {
		max-width: 5%;
		height: auto;
		width: auto;
		vertical-align: middle;
	}
	#navmid span {
		margin-left: 20px;
	}
	#third ul {
		width: 50%;
	}
	#third ul li {
		width: 70px;
		height: 20px;
		font-size: 1em;
		line-height: 20px;
	}
	#chanpinzhanshi img {
		width: 40%;
		margin-top: 3em;
	}
	#chanpinzhanshi {
		text-align: center;
	}
	#chanpinzhanshi span {
		display: inline-block;
		text-align: center;
		width: 20%;
		height: 15em;
		background: white;
		margin-bottom: 10px;
	}
	#blogzixun {
		margin-top: 30px;
		font-size: 1.6em;
	}
	#blogtalk {
		font-size: 1em;
		margin-top: 15px;
	}
	#xiangxizixun h1 {
		font-size: 1.2em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(2) {
		margin-top: 3px;
		width: 100%;
		font-size: 0.8em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(3) span {
		display: inline-block;
		margin-top: 10px;
		width: 20%;
		font-size: 0.6em;
	}
}


/*600-1000px时的央视*/

@media screen and (min-width:600px) and (max-width:1000px) {
	#navmid {
		float: none;
		width: 100%;
		text-align: center;
		clear: both;
		display: block;
	}
	#navright {
		display: block;
	}
	#navmid img {
		max-width: 5%;
		height: auto;
		width: auto;
		vertical-align: middle;
	}
	#navmid span {
		margin-left: 20px;
	}
	#first {
		font-size: 1.3em;
	}
	#third ul {
		width: 55%;
		margin: 0 auto;
	}
	#third ul li {
		list-style: none;
		float: left;
		width: 50px;
		height: 20px;
		font-size: 0.7em;
		text-align: center;
		line-height: 20px;
		margin-left: 5px;
		background: white;
	}
	#chanpinzhanshi img {
		width: 60%;
		margin-top: 3em;
	}
	#chanpinzhanshi {
		text-align: center;
	}
	#chanpinzhanshi span {
		display: inline-block;
		text-align: center;
		width: 45%;
		height: 24em;
		background: white;
		margin-bottom: 10px;
	}
	#foot {
		line-height: 1em;
		font-size: 0.6em;
	}
	#footmess span {
		display: inline-block;
		width: 17%;
		margin-left: 2em;
		margin-top: 50px;
		padding-bottom: 30px;
		line-height: 1.3em;
	}
	#footmess img {
		width: 16px;
	}
	#footmess span:last-child span {
		height: 16px;
	}
	#blogzixun {
		margin-top: 30px;
		font-size: 1.5em;
	}
	#blogtalk {
		font-size: 1em;
		margin-top: 15px;
	}
	#xiangxizixun h1 {
		font-size: 0.9em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(2) {
		margin-top: 3px;
		width: 100%;
		font-size: 0.7em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(3) span {
		display: inline-block;
		margin-top: 3px;
		width: 20%;
		font-size: 0.6em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(3) span:first-child{
		width: 40%;
	}
	#foot {
		font-size: 0.8em;
	}
}


/*<600的css*/

@media screen and (max-width:600px) and (min-width:413px) {
	.jihe {
		display: block;
		float: right;
	}
	.jihe img {
		width: 30px;
		vertical-align: middle;
	}
	#navright {
		float: none;
		clear: both;
		text-align: center;
		display: none;
	}
	#navmid {
		display: none;
		float: none;
		width: 100%;
		text-align: center;
		clear: both;
	}
	#navmid img {
		max-width: 5%;
		height: auto;
		width: auto;
		vertical-align: middle;
	}
	#navmid span {
		display: block;
		text-align: left;
	}
	#ar3 ul li span:nth-child(2) {
		color: dimgray;
		font-size: 1em;
	}
	#ar3 ul li span:nth-child(3) {
		color: #6D7F90;
		font-size: 0.5em;
		text-align: left;
	}
	#ar3 ul li div {
		width: 80px;
		height: 80px;
		margin: 0 auto;
	}
	#ar1 {
		font-size: 1em;
	}
	#ar2 {
		font-size: 0.8em;
	}
	#zhijinyu div:first-child {
		font-size: 1em;
	}
	#zhijinyu div:nth-child(2) {
		font-size: 0.8em;
	}
	#zhijinyu div:nth-child(3) div:nth-child(2) {
		line-height: 1.4em;
	}
	#first {
		font-size: 1.3em;
	}
	#third ul {
		width: 80%;
		margin: 0 auto;
	}
	#third ul li {
		list-style: none;
		float: left;
		width: 50px;
		height: 20px;
		font-size: 0.7em;
		text-align: center;
		line-height: 20px;
		margin-left: 5px;
		background: white;
	}
	#chanpinzhanshi img {
		width: 60%;
		margin-top: 3em;
	}
	#chanpinzhanshi {
		text-align: center;
	}
	#chanpinzhanshi span {
		display: inline-block;
		text-align: center;
		width: 45%;
		height: 17em;
		background: white;
		margin-bottom: 10px;
	}
	#foot {
		line-height: 1em;
		font-size: 0.6em;
	}
	#footmess span {
		display: inline-block;
		width: 17%;
		margin-left: 2em;
		margin-top: 50px;
		padding-bottom: 30px;
		line-height: 1.3em;
	}
	#footmess img {
		width: 16px;
	}
	#footmess span:last-child span {
		height: 16px;
	}
	#blogzixun {
		margin-top: 30px;
		font-size: 1.5em;
	}
	#blogtalk {
		font-size: 1em;
		margin-top: 15px;
	}
	#xiangxizixun h1 {
		font-size: 0.7em;
	}
	#xiangxizixun span {
		width: 100%;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(2) {
		margin-top: 3px;
		width: 100%;
		font-size: 0.5em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(3) span {
		display: inline-block;
		margin-top: 3px;
		width: 20%;
		font-size: 0.1em;
	}
	#xiangxizixun span div:nth-child(2) div:nth-child(3) span:first-child {
		width: 40%;
	}
}