* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	list-style: none;
	text-decoration: none;
	color: black;
}

.section1 {}

.nav {
	width: 100%;
	height: 100px;
	background: url(../img/1481892407.png);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 100;
}

.nav img {
	float: left;
	height: 40px;
	margin-top: 30px;
	margin-left: 30px;
}

#box {
	position: relative;
	width: 100%px;
	height: 100%;
}

#box .list {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#box .list li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.8s linear
}

#box .list li.current {
	opacity: 1;
}

.cnt {
	width: 100%;
	position: absolute;
	bottom: 25px;
}

#box .count {
	width: 380px;
	margin: 0 auto;
}

#box .count li {
	color: #fff;
	float: left;
	width: 60px;
	height: 8px;
	line-height: 20px;
	cursor: pointer;
	margin-right: 15px;
	overflow: hidden;
	background: white;
	opacity: 1;
	text-align: center;
	font-size: 14px;
}

#box .count li.current {
	opacity: 1;
	background: #00B58B;
	text-align: center;
	font-size: 14px;
}


/*第二屏*/

.section2 {
	background: url(../img/03.jpg);
}

.tip {
	width: 100%;
	margin-top: 50px;
}

.tip span {
	display: block;
	font-size: 30px;
}

.picOut {
	width: 100%;
	height: 300px;
	margin-top: 50px;
}

.pic {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}

.clearfix:after {
	display: table;
	visibility: hidden;
	clear: both;
	content: "";
	height: 0;
}

.pic01 {
	float: left;
	width: 30%;
}

.pic01 img {
	width: 100%;
	height: 100%;
}

.pic01 .jianjie {
	width: 100%;
	background-color: white;
	padding: 15px;
	border-bottom: 2px solid #00B58B;
}

.pic01 span:nth-child(1) {
	text-align: left;
	display: block;
	font-size: 18px;
	color: black;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pic01 span:nth-child(2) {
	text-align: left;
	display: block;
	font-size: 12px;
	color: grey;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*第三屏*/

.section3 {
	background: url(../img/04.jpg);
}

.s3pic {
	width: 100%;
}

.s3pic01 {
	width: 70%;
	height: 300px;
	margin: 20px auto;
	background-color: rgba(255, 255, 255, 0.5);
}

.s3pic01_top {
	width: 100%;
	height: 50%;
}

.s3pic01_top div {
	float: left;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s3pic01_bottom {
	width: 100%;
	height: 50%;
}

.s3pic01_bottom div {
	float: left;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section4 {
	background: url(../img/07.jpg);
	background-position: 1366px 0px;
}


/*第四屏*/

.s4 {
	width: 100%;
	height: 150px;
}

.s401 {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.s4pic01 {
	flex: 1;
}

.s4pic02 {
	flex: 1;
}

.s4pic02 span {
	display: block;
	font: "微软雅黑";
	font-size: 20px;
	color: black;
}

@media screen and (min-width: 1000px) {}

@media screen and (min-width: 600px) and (max-width: 1000px) {
	/*第一屏*/
	#menu {
		display: none;
	}
	/*第二屏*/
	.pic01 {
		float: left;
		width: 45%;
		overflow: hidden;
	}
	.pic01 img {
		width: 100%;
	}
	.pic01 .jianjie {
		width: 100%;
		background-color: white;
		padding: 15px;
		border-bottom: 2px solid #00B58B;
	}
	.pic01 span:nth-child(1) {
		text-align: left;
		display: block;
		font-size: 15px;
		color: black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.pic01 span:nth-child(2) {
		text-align: left;
		display: block;
		font-size: 12px;
		color: grey;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.picTird {
		display: none;
	}
	/*第三屏*/
	.s3pic01_top div {
		float: left;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.s3pic01_top div:nth-child(3),
	.s3pic01_top div:nth-child(4) {
		display: none;
	}
	.s3pic01_bottom div {
		float: left;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.s3pic01_bottom div:nth-child(3),
	.s3pic01_bottom div:nth-child(4) {
		display: none;
	}
	/*第四屏*/
	.s4 {
		width: 100%;
		height: 150px;
	}
	.s401 {
		width: 70%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
	}
	.s4pic01 {
		flex: 1;
		display: none;
	}
	.s4pic02 {
		flex: 1;
	}
	.s4pic02 span {
		display: block;
		font: "微软雅黑";
		font-size: 20px;
		color: black;
	}
}

@media screen and (max-width: 600px) {
	/*第一屏*/
	#menu {
		display: none;
	}
	#box .count {
		width: 260px;
		margin: 0 auto;
	}
	#box .count li {
		color: #fff;
		float: left;
		width: 30px;
		height: 5px;
		line-height: 20px;
		cursor: pointer;
		margin-right: 15px;
		overflow: hidden;
		background: white;
		opacity: 1;
		text-align: center;
		font-size: 14px;
	}
	/*第二屏*/
	.picOut {
		width: 100%;
		height: 300px;
		margin-top: 50px;
	}
	.pic {
		width: 70%;
		margin: 0 auto;
		overflow: hidden;
	}
	.clearfix:after {
		display: table;
		visibility: hidden;
		clear: both;
		content: "";
		height: 0;
	}
	.pic01 {
		float: left;
		width: 30%;
	}
	.pic01 img {
		width: 100%;
		height: 100%;
	}
	.pic01 .jianjie {
		width: 100%;
		background-color: white;
		padding: 15px;
		border-bottom: 2px solid #00B58B;
	}
	.pic01 span:nth-child(1) {
		text-align: left;
		display: block;
		font-size: 15px;
		color: black;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.pic01 span:nth-child(2) {
		display: none;
	}
	/*第三屏*/
	.s3pic01_top div {
		float: left;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.s3pic01_top div:nth-child(2),
	.s3pic01_top div:nth-child(3),
	.s3pic01_top div:nth-child(4) {
		display: none;
	}
	.s3pic01_bottom div {
		float: left;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.s3pic01_bottom div:nth-child(2),
	.s3pic01_bottom div:nth-child(3),
	.s3pic01_bottom div:nth-child(4) {
		display: none;
	}
	/*第四屏*/
	.s4 {
		width: 100%;
		height: 150px;
	}
	.s401 {
		width: 70%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
	}
	.s4pic01 {
		flex: 1;
		display: none;
	}
	.s4pic02 {
		flex: 1;
	}
	.s4pic02 span {
		display: block;
		font: "微软雅黑";
		font-size: 20px;
		color: black;
	}
}